<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite" data-provider-thread-count="3" >
    <test name="CucumberRunner" >
        <classes>
            <class name="runner.UITestRunnerTestNG"/>
        </classes>
    </test>
    <!--  data-provider-thread-count="1"  <listeners>-->
    <!--        <listener class-name="failedTestCases.AnnotationTransformer"></listener>-->
    <!--    </listeners>-->
</suite>